*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.nav__imagen{

    width: 120px;

}   
.nav__boton{
    font-weight: 600;
    padding: 3px 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 14px;
    color: hsl(192, 100%, 9%);
}

.header{
    background-color: hsl(193, 100%, 96%);

}

.header__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 4em;
    padding: 2em;
}
.header__contenido-titulo{
    text-align: center;
    font-size: 25px;
    color: hsl(192, 100%, 9%);
}
.header__contenido-parrafo{
    text-align: center;
    font-size: 15px;
    opacity: 0.8;
}
.header__contenido-boton{
    padding: 10px 55px;
    border-radius: 40px;
    background-color: hsl(322, 100%, 66%);
    text-decoration: none;
    color: #eee;
    font-size: 14px;
}

.principal{
    display: flex;
    flex-direction: column;
    gap: 2em ;
    padding: 2em 1em 10em 1em;
    position: relative;
}
.card__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    padding: 2em;
    box-shadow: 0px 0px 5px 0px rgb(0, 0 ,0 ,0.3);
    border-radius: 8px;
}
.card__titulo{
    text-align: center;
    margin: 0.5em 0;
}
.card__parrafo{
    text-align: center;
    font-size: 14px;
}
.card__imagen{
    width: 90%;
    margin: 1.5em 0;
}

.tarjeta{
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    border-radius: 15px;
    position: absolute;
    bottom: -60px;
    background-color: white;
}
.tarjeta__titulo{
    font-size: 18px;
    color: hsl(192, 100%, 9%);

}
.tarjeta__boton{
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 13px 45px;
    border-radius: 40px;
    background-color: hsl(322, 100%, 66%);
    text-decoration: none;
    color: #eee;
    font-size: 12px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.4);

}



.footer{
    background-color: hsl(192, 100%, 9%);
    padding: 7em 1em 1em 1em;
    color: #eeee;
    font-family: 'Open Sans', sans-serif;
}
.footer__imagen{
    margin: 1em 0;
}
.contacto{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.contacto__contenido{
    display: flex;
    gap: 1em;
}
.contacto__imagen{
    width: 20px;
    height: 20px;
}

.footer__lista{
    list-style: none;
    margin: 3em 0;
}
.footer__item{
    display: block;
    margin: 1em 0;
}
.redes{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
}

.fab{
    display: inline-block;
    padding: 8px;
    border: solid 1px #eee;
    border-radius: 50%;
}

